h1 {
  text-align: center;
  color: #007bff;
}
.new-tuit {
  width: 100%;
  margin: 0 auto;
  border: 1px solid rgba(0,0,0,.125);
  border-radius: 10px;
  padding: 20px;
}
.list-group-item:first-child {
  border-radius: 10px 10px 0 0;
}
.list-group-item:last-child {
  border-radius: 0 0 10px 10px;
}
.alert-danger {
  margin: 1rem;
}
